.banner {
	position: relative;
	display: flex;
    position: relative;
    justify-content: center;
}
.banner__filter {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.6;
}
.banner__img{
    object-fit: cover;
}
@media only screen and (max-width: 780px) {
    .banner__img {
        height: 400px;
    }
}
@media only screen and (max-width: 540px) {
    .banner__img {
        height: 300px;
    }
}