
@media(min-width: 0px) {
	.col-xs-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 8.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 16.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 41.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 66.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 83.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 91.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xs-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}
}

@media(min-width: 576px) {
	.col-sm-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 8.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 16.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 41.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 66.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 83.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 91.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-sm-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}
}

@media(min-width: 768px) {
	.col-md-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 8.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 16.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 41.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 66.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 83.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 91.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-md-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}
}

@media(min-width: 992px) {
	.col-lg-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 8.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 16.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 41.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 66.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 83.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 91.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-lg-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}
}

@media(min-width: 1200px) {
	.col-xl-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 8.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 16.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 41.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 66.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 83.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 91.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}
}

@media(min-width: 1400px) {
	.col-xxl-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 8.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 16.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 41.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 66.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 83.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 91.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}
}

@media(min-width: 1600px) {
	.col-xxxl-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 8.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 16.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 41.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 66.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 83.3333333333%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 91.6666666667%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}

	.col-xxxl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		padding-right: 3.5px;
		padding-left: 3.5px
	}
}

.col {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%
}

.col-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%
}

.row-cols-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%
}

.row-cols-2 {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 50%
}

.row-cols-3 {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 33.3333333333%
}

.row-cols-4 {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 25%
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: calc(1.5rem - 3.5px);
	padding-left: calc(1.5rem - 3.5px)
}

@media(min-width: 576px) {
	.container {
		max-width: 540px
	}
}

@media(min-width: 768px) {
	.container {
		max-width: 720px
	}
}

@media(min-width: 992px) {
	.container {
		max-width: 960px
	}
}

@media(min-width: 1200px) {
	.container {
		max-width: 1140px
	}
}

@media(min-width: 1400px) {
	.container {
		max-width: 1320px
	}
}

@media(min-width: 1600px) {
	.container {
		max-width: 1500px
	}
}

@media(max-width: 0px) {
	.container__nopadding-xs {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0
	}
}

@media(max-width: 576px) {
	.container__nopadding-sm {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0
	}
}

@media(max-width: 768px) {
	.container__nopadding-md {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0
	}
}

@media(max-width: 992px) {
	.container__nopadding-lg {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0
	}
}

@media(max-width: 1200px) {
	.container__nopadding-xl {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0
	}
}

@media(max-width: 1400px) {
	.container__nopadding-xxl {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0
	}
}

@media(max-width: 1600px) {
	.container__nopadding-xxxl {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0
	}
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.row>* {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding-left: 3.5px;
	padding-right: 3.5px;
	max-width: 100%
}

@media(max-width: 0px) {
	.row__nopadding-xs>* {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%
	}
}

@media(max-width: 576px) {
	.row__nopadding-sm>* {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%
	}
}

@media(max-width: 768px) {
	.row__nopadding-md>* {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%
	}
}

@media(max-width: 992px) {
	.row__nopadding-lg>* {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%
	}
}

@media(max-width: 1200px) {
	.row__nopadding-xl>* {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%
	}
}

@media(max-width: 1400px) {
	.row__nopadding-xxl>* {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%
	}
}

@media(max-width: 1600px) {
	.row__nopadding-xxxl>* {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%
	}
}

.collapse:not(.show) {
	display: none
}
