
.main .how-buy__inner {
	padding: 3.75rem 0
}
.how-buy__container {
    max-width: 1100px;
}

.main .how-buy__folder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
    border: 1px solid var(--color-blue);
	/* background-color: red; */
	position: relative;
	border-radius: 0 0.9375rem 0.9375rem 0.9375rem;
	padding: 1.875rem 0 0 0;
	min-height: 12.5rem;
    position: relative;
    /* z-index: 11; */
}

@media only screen and (min-width: 992px) {
	.main .how-buy__folder {
		padding: 3.125rem 0
	}
}
.main .how-buy__folder {
   max-width: 505px;
   width: 100%;
   min-height: 320px;
}

.main .how-buy__folder--ligth-blue {
	background-color: var(--color-ligth-blue)
}

.main .how-buy__folder--ligth-blue .how-buy__folder-body::before {
	content: "";
	background-color: var(--color-ligth-blue);
	position: absolute;
	top: -1.875rem;
	width: 50%;
	height: 1.875rem;
	border-radius: 0.9375rem 0.9375rem 0 0;
    z-index: 12;
    border-bottom: none;
}

/* .main .how-buy__folder--ligth-blue .how-buy__folder-body::after {
	content: "";
	position: absolute;
	top: -0.625rem;
	right: 50%;
	width: 1.25rem;
	height: 1.25rem;
	border-left: 0.625rem solid #d6efff;
	border-bottom: 0.625rem solid #d6efff;
	border-radius: 0 0 0 100%;
	-webkit-transform: translate(50%, 0);
	-ms-transform: translate(50%, 0);
	transform: translate(50%, 0)
} */

.main .how-buy__folder--ligth-blue .how-buy__folder-ico {
	border: 1px dashed #000
}

@media only screen and (min-width: 992px) {
	.main .how-buy__folder {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1
	}
}

.main .how-buy__folders {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 3.125rem;
	margin-bottom: 1.875rem
}

@media only screen and (min-width: 992px) {
	.main .how-buy__folders {
		margin-bottom: 3.75rem;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}
}

.main .how-buy__folder-body::before {
	content: "";
	border: 1px solid var(--color-blue);
    border-bottom: none;
	position: absolute;
	top: -2.8125rem;
	width: 50%;
	height: 2.8125rem;
	border-radius: 0.9375rem 0.9375rem 0 0;
    z-index: 12;
    background: var(--color-white);
}

/* .main .how-buy__folder-body::after {
	content: "";
	position: absolute;
	top: -0.625rem;
	right: 50%;
	width: 1.25rem;
	height: 1.25rem;
	border-left: 0.625rem solid #6795da;
	border-bottom: 0.625rem solid #6795da;
	border-radius: 0 0 0 100%;
	-webkit-transform: translate(50%, 0);
	-ms-transform: translate(50%, 0);
	transform: translate(50%, 0)
} */

.how-buy__folder-item{
    padding: 0 20px;
}
.main .how-buy__folder-title {
	line-height: 1.5625rem;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--color-dark-gray);
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}


.how-buy__folder-title h6{
	line-height: 3rem; 
    font-size:2.5rem;
    font-weight: 600;
}

.main .how-buy__folder-title--black {
	color: var(--color-black)
}

@media only screen and (min-width: 992px) {
	.main .how-buy__folder-title {
		font-size: 2.25rem;
		line-height: 2.625rem
	}
}

.main .how-buy__folder-procent {
  
    font-size: 1.25rem;
    font-weight: 400;
	text-transform: uppercase;
	text-align: right;
    
	color: var(--color-secondary)
}
.how-buy__folder-procent span {
    font-size: 5rem;
	line-height: 2.625rem;
	font-weight: 500;
    color: var(--color-secondary)
}

.how-buy__folder-item .how-buy__folder-title-last {
    justify-content:start;
    
}
/* 
.main .how-buy__folder-procent--blue {
	color: var(--color-blue)
}

.main .how-buy__folder-procent--yelloy {
	color: var(--color-yelloy)
} */

/* @media only screen and (min-width: 992px) {
	.main .how-buy__folder-procent {
		font-size: 3.75rem;
		line-height: 4.375rem
	}
} */

.main .how-buy__folder-ico {
	position: absolute;
	top: -1.25rem;
	left: 0.9375rem;
	padding: 0.3125rem;
	border: 1px dashed #fefeff;
	border-radius: 50%
}

@media only screen and (min-width: 992px) {
	.main .how-buy__folder-ico {
		height: 2.75rem;
		width: 2.75rem;
		top: -0.625rem;
		left: 1.5625rem
	}
}

.main .how-buy__conditions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.main .how-buy__conditions-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 0.5rem
}

.main .how-buy__conditions-title {
	font-size: 1.125rem;
	line-height: 1.375rem;
	font-weight: 400;
	padding: 0.9375rem 0;
	color: var(--color-dark-gray);
	text-align: center
}

.main .how-buy__conditions-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 1.125rem;
	width: 48%;
	background-color: var(--color-blue);
	border-radius: 0.625rem;
	text-align: center;
	min-height: 11.25rem
}
.how-buy__folder-block{
    display: flex;
    justify-content: center;
    position: relative;
}
.how-buy__folder-block h3{
    position: absolute;
    right: 15%;
    font-size: 5rem;
    line-height: 2.625rem;
    font-weight: 500;
    bottom: -20px;
    color: var(--color-secondary);
}

.how-buy__folder-text{
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 400;
   
    color: var(--color-dark-gray);
}

.main .how-buy__conditions-item--ligth {
	background-color: var(--color-ligth-blue)
}

.main .how-buy__conditions-item--ligth .how-buy__conditions-item-title {
	color: var(--color-black)
}

.main .how-buy__conditions-item--ligth .how-buy__conditions-item-data {
	color: var(--color-blue)
}

@media only screen and (min-width: 992px) {
	.main .how-buy__conditions-item {
		width: 24%
	}
}

.main .how-buy__conditions-item-title {
	font-size: 1rem;
	line-height: 1.375rem;
	font-weight: 400;
	color: var(--color-white)
}

@media only screen and (min-width: 992px) {
	.main .how-buy__conditions-item-title {
		font-size: 1.5rem;
		line-height: 2.0625rem
	}
}

.main .how-buy__conditions-item-data {
	font-size: 1.5rem;
	line-height: 2.0625rem;
	font-weight: 500;
	color: var(--color-yelloy)
}

@media only screen and (min-width: 992px) {
	.main .how-buy__conditions-item-data {
		font-size: 2.25rem;
		line-height: 3.125rem
	}
}
@media only screen and (max-width: 980px) {
	.main .how-buy__conditions-item-data {
		font-size: 2.25rem;
		line-height: 3.125rem
	}
    .main .how-buy__folders{
        align-items: center;
        gap: 70px;
    }
}


.main .how-buy__conditions-item-data--small {
	font-size: 0.875rem;
	line-height: 1rem
}

