
.main .main-banner__inner {
    
	background-size: cover;
	background-position: center;
	padding: 14.375rem 0 4.0625rem 0;
	height: 100dvh;
	position: relative;
	

}

.main .main-banner__inner ::before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 0.5; /* Это придает прозрачность для эффектов */
  }
  
  .main .main-banner__inner ::after {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    opacity: 0.5;
  }

@media only screen and (min-width: 768px) {
	.main .main-banner__inner {
		padding: 21.875rem 0 4.6875rem 0
	}
}

.main .main-banner__title {
	font-size: 2.8rem;
	line-height: 2.8rem;
	color: var(--color-white);
	max-width: 500px;
	font-style: italic;
}

.main .main-banner__title--colored {
	color: var(--color-yelloy)
}


.main .main-banner__subtitle {
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: var(--color-white);
	margin: 40px 0;
	max-width: 500px;
}

.main .main-banner .button {
	margin-top: 6.25rem;
	padding: 1.3125rem 0;
	font-size: 1rem;
	line-height: 1.1875rem;
	font-weight: 600;
	color: var(--color-dark-gray)
}
.main-block {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	padding: 40px 0;
}

.main-banner__img-back{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	mask-image: url('../images/1.svg');
	-webkit-mask-image: url('../images/1.svg');
	object-fit: cover;
	object-fit: cover;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
  
	mask-position: center;
	-webkit-mask-position: center;
  
	mask-size: cover;
	-webkit-mask-size: cover;
	z-index: -1;
}


.main-block__text {

	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--color-dark-gray);
}

.main-block__item{
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: var(--color-secondary);
	text-align: center;
}
.main-block__item h3 {
	font-size: 3rem;
	line-height: normal;
	margin: 0;
}
.main-block__item p {
	
	font-weight: 500;
	margin: 0;

}
.main-banner__img{
	display: none;
}




.main-banner__catalog{
	position: absolute;
	bottom: 90px;
	right: 20px;
	width: 100px;
	height: 100px;
}
.main-banner__contacts{
	display: none;
}


@media only screen and (max-width: 1200px) {
	.main-banner .container {
		max-width: none;
	}
	
}
@media only screen and (max-width: 980px) {
	.main-banner__img-back {
		-webkit-mask-image: none !important;
		mask-image: none !important;
	}
	.main-banner__img{
		display: block;
		margin: 0 auto 30px auto;
	}
	.main .main-banner__inner{
		padding: 40px 0 ;
	}
	.main-banner__img {
		width: 120px;
		margin: 0 auto 70px auto;

	}
	.main-banner__contacts{
		position: absolute;
		bottom: 90px;
		left: 20px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		color: var(--color-ligth-blue);
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	.main-banner__contacts-icon{
		width: 64px;
		height: 64px;
	}
	.main-banner__contacts-text{
		margin: 0;
		font-weight: 700;
	}
}

@media only screen and (min-width: 768px) {
	.main .main-banner .button {
		padding: 1.4375rem 0;
		font-size: 1.5rem;
		line-height: 2rem
	}
	

}
@media only screen and (max-width: 580px) {
	.main-block__text{
		text-align: center;
	}
	.main .main-banner__subtitle{
		margin: 25px 0 50px 0;
	}
	.main .main-banner__title{
		font-size: 2.4rem;
		line-height: 2.4rem;
	}
	
	.main-block {
	flex-direction: column;
	gap: 12px;
	}
	.main-block__item h3 {	
		line-height: 1.2;
	}
	.main-block__item{
		gap: 0;
	}
	
	.main-banner .container {
		text-align: center;
	}
}