:root {
	--color-yelloy: #EFFF8E;
	--color-white: #FEFEFF;
	--color-ligth-blue: #D6EFFF;
	--color-blue: #6795DA;
	--color-dark-gray: #5B5B5B;
	--color-silver: #BCB8B8;
    --color-secondary: orange
}
